@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

/*font-weigth 200-800*/

$color1:#E55447;
$color2:#FF6159;
$grey1:#606060;
$grey2:#323232;
$grey3:#1d1d1d;
$grey4:#000000;

/*---------------*/

@mixin mediaQuery($medida:1600px){
    @media(min-width:$medida){
        @content
    }
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


html,
body{
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: $grey3;
    color: white;

    background: linear-gradient(0deg,$grey4 0%, $grey4 30%, $grey3 100%);
}



/*------------------------------------------------------[navbar]-*/

nav{
    max-width: 100%;
    padding: 0.8rem;
    margin-bottom: 2rem;

    background-color: $grey2;

    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;

    @include mediaQuery(){
        max-width: 70%;
        margin: auto;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaQuery(){
        justify-content: space-around;
    }

    .nav-icons{

        a{
            margin: 0 1rem;

            display:none;
            @include mediaQuery(){
                display: inline-block;
            }
            
            color: $color1;
            cursor: pointer;
            &:hover{
                color: white;
                scale: 1.1;
            }
        }
    }


}


.logo-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    .nav-icon{
        width: 40px;
    }
    .nav-name{
        width: 180px;
    }
}






/*/------------------------------------------------------------[ Card ]*/


.card{
    padding: 10px;
    width: 200px;
    display: grid;
    grid-template-columns: 2fr,3fr;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;

    border: 1px solid red;
}

.card-img{
    grid-column: 1 / 2;
    grid-row: 1/3;

    border: 1px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;

    h5{
        font-size: 10px;
    }

    img{
        width: 80px;
    }
}

.card-output{
    margin: auto;
    grid-column: 2 / 4;
    grid-row: 1/2;
    display: flex;
    align-items: center;

    img{
        width: 15px;
        margin-right: 5px;  
    }

    h5{
        margin-right: 0.5rem;
    }

    p{
        padding: 2px;
        background-color: #E55447;
        color: #1d1d1d;
        font-weight: 700;
        max-width: 30px;
        font-size: 10px;
    }
}



.card-machine{
    margin: auto;
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;


    img{
        width: 30px;
        margin-right: 1rem;
    }

    p{
        margin-right: 0.5rem;
        font-size: small;
    }
}



.tree{
    img{
        width: 25px;
    }
}

/*--------------------------------------------------------------------*/

.tree ul {
    margin-left: 20px;
}

.tree li {
    list-style-type: none;
    margin:10px;
    position: relative;
}

.tree li::before {
    content: "";
    position: absolute;
    top:-7px;
    left:-20px;
    border-left: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-radius:0 0 0 0px;
    width:20px;
    height:15px;
}

.tree li::after {
    position:absolute;
    content:"";
    top:8px;
    left:-20px;
    border-left: 1px solid #ccc;
    border-top:1px solid #ccc;
    border-radius:0px 0 0 0;
    width:20px;
    height:100%;
}

.tree li:last-child::after  {
    display:none;
}

.tree li:last-child:before{
    border-radius: 0 0 0 5px;
}

ul.tree>li:first-child::before {
    display:none;
}

ul.tree>li:first-child::after {
    border-radius:5px 0 0 0;
}

.tree li a {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding:2px 5px;
}

.tree li a:hover, .tree li a:hover+ul li a,
.tree li a:focus, .tree li a:focus+ul li a {
    background: #ccc; color: #000; border: 1px solid #000;
    background-color: red;
    cursor: pointer;
}

.tree li a:hover+ul li::after, .tree li a:focus+ul li::after,
.tree li a:hover+ul li::before, .tree li a:focus+ul li::before 
.tree li a:hover+ul::before, .tree li a:focus+ul::before 
.tree li a:hover+ul ul::before, .tree li a:focus+ul ul::before{
    border-color:  #000; /*connector color on hover*/
}



